<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pdf</title>
    <style>
      .pdf{
    text-align: center;
}
.name{
    height: 50px;
    display:flex;
    margin-top: 10px;
}
.pic{
    max-width: 10%;
    height: auto;
    margin-right: 20%;
}
.attr{
    width:500px;
}
.val{
    width: 310px;
    text-align: center;
}


.main{
    margin-left: 280px;

}
    </style>
  </head>

  <body>
    <div class="pdf">
      <h1>PDF</h1>
    </div>
    <div class="main">
        <div>
            <img src="my pic.png" align="right" class="pic" alt="">
        </div>
      <div class="name">
        <div class="attr">Name : {{res.user.user_name}}</div>
      </div>
<br>
      <div class="name">
        <div class="attr">Date of Birth</div>
        <div>:</div>
        <div class="val">dob</div>
      </div>

      <div class="name">
        <div class="attr">Sex</div>
        <div>:</div>
        <div class="val">sex</div>
      </div>
      <div class="name">
        <div class="attr">Contect</div>
        <div>:</div>
        <div class="val">Contect</div>
      </div>
      <div class="name">
        <div class="attr">Email</div>
        <div>:</div>
        <div class="val">email</div>
      </div>
      <div class="name">
        <div class="attr">Address</div>
        <div>:</div>
        <div class="val">address</div>
      </div>
      <div class="name">
        <div class="attr">Status</div>
        <div>:</div>
        <div class="val">status</div>
      </div>
      <div class="name">
        <div class="attr">Blood Group</div>
        <div>:</div>
        <div class="val">b+</div>
      </div>
      <div class="name">
        <div class="attr">Weight</div>
        <div>:</div>
        <div class="val">w</div>
      </div>
      <div class="name">
        <div class="attr">height</div>
        <div>:</div>
        <div class="val">h</div>
      </div>
    </div>
  </body>
</html>